.x-button-bar {

    width: 100%;

    .x-button-wrapper {
        display: inline-block;

        margin: 20px;

        float: right;

        button {
            margin-left: 10px;
        }
    }
}