@import "utils";
@import "const";

.x-property-editor-wrap {
    position: absolute;

    .shadow(20px, .3);
    .round-corners(10px);

    &:before {
        .left-arrow(25px, #fff, 50px);
    }

    .x-property-editor {
        position: relative;

        &:before {
            .paper-shadow(-3deg);

            left: 10px;
        }

        &:after {
            .paper-shadow(3deg);

            right: 10px;
        }

        .x-property-editor-body-wrap {
            z-index: 2;

            position: relative;

            background-image: @paper-background;
            padding-top: 20px;

            .round-corners(10px);

            .x-property-editor-body {
                margin: 20px;
                margin-top: 0px;

                form {
                    input, textarea {
                        width: 280px;
                    }

                    label {
                        &:after {
                            content: ":";
                        }

                        width: 120px;

                        font-family: @note-font, serif;
                        font-size: 25pt;
                    }

                    .controls {
                        margin-left: 140px;
                    }
                }
            }
        }
    }
}